@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">DndAssistant</h1>
    <p>Доступно:</p>
    <p>Редактируемые базы данных оружия и языков</p>
    <p>Нередактируемая базы данных брони и инструментов</p>
</div>
