@model DndAssistant.Models.Other.Language

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Language</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <!-- IsExotic Checkbox Field -->
            <div class="form-group">
                <label class="control-label">Экзотический</label>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="isExotic" name="IsExotic" value="true"
                    @(Model.IsExotic.HasValue && Model.IsExotic.Value ? "checked" : "") />
                    <label class="form-check-label" for="isExotic">
                        Да
                    </label>
                </div>
                <input type="hidden" name="IsExotic" value="false" />
                <span asp-validation-for="IsExotic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Writing" class="control-label"></label>
                <input asp-for="Writing" class="form-control" />
                <span asp-validation-for="Writing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypicalRepresentative" class="control-label"></label>
                <input asp-for="TypicalRepresentative" class="form-control" />
                <span asp-validation-for="TypicalRepresentative" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
